@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 227, 255, 222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}
/*/linear：deg下から時計回り/*/
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      225deg,
      transparent,
      rgb(205,238,196)
    ),
    linear-gradient(
      45deg,
      transparent,
      rgb(221, 255, 202) 
    ),
    rgb(var(--background-rgb))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
